<!DOCTYPE html>
<html lang="en">
<head>
    <title>Navigation Bar</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
    </script>
    <script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
    </script>
    <script src="https://kit.fontawesome.com/bfd8b3b5e9.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='main.css') }}">
    <!-- JavaScript -->
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
    <!-- Semantic UI theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css"/>
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css"/>

    <!--
        RTL version
    -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.rtl.min.css"/>
    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.rtl.min.css"/>
    <!-- Semantic UI theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.rtl.min.css"/>
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.rtl.min.css"/>
</head>
<body>
<!-- one get form with 3 input -->
<script>
    $(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-center">Add Product to track</h1>
            <form action="/add_product" method="get">
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input type="text" class="form-control" id="title" name="title" required>
                </div>
                <div class="form-group">
                    <label for="min">min:</label>
                    <input type="number" class="form-control" id="min" name="min" required>
                </div>
                <div class="form-group">
                    <label for="max">max:</label>
                    <input type="text" class="form-control" id="max" name="max" required>
                </div>
                <button type="submit" class="btn btn-primary w-100">Submit</button>
            </form>
        </div>
    </div>
</div>
<div class="container mt-5">
    <!-- table bootstrap -->
    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-center">Tracked Products</h1>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Min</th>
                    <th>Max</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for product in search_list %}
                <tr>
                    <td>{{product[0]}}</td>
                    <td>{{product[1]}}</td>
                    <td>{{product[2]}}</td>
                    <td><a href="/delete?id={{search_list.index(product)}}"> Delete</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container mt-5">
    <!-- table bootstrap -->
    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-center">Track Data</h1>
            <table id="myTable" class="table table-striped">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Condition</th>
                    <th>Listing Type</th>
                    <th>Current Price</th>
                    <th>Item Url</th>
                    <th>Time Left</th>
                </tr>
                </thead>
                <tbody>
                {% for product in all_data %}
                <tr>
                    <td>{{product[0]}}</td>
                    <td>{{product[1]}}</td>
                    <td>{{product[2]}}</td>
                    <td>{{product[3]}}</td>
                    <td><a href="{{product[4]}}">Link Of Item</a></td>
                    <td>{{product[5]}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>